.array-container{
    position: absolute;
    left: 100px;

}
.array-bar{
    width: 2px;
    /* height: 30px; */
    background-color: rgb(193, 139, 255);
    display: inline-block;
    margin: 0 2px;
}